/*
Author: Sellrise
Author URI: http://sellrise.ru/
Tags: Normalizing styles - http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# 404 (страница не найдена)

# Responsive (Адаптивные стили)
	## 640-940 (Устройства от 640 до 940 пикселей)
	## < 640 (Устройства до 640 пикселей)
	## < 480 (Устройства до 480 пикселей)
	## < 360 (Устройства до 360 пикселей)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# 404 (страница не найдена)
--------------------------------------------------------------*/
.notfound-wrapper {
	background-image: url('../img/404-bg.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
	position: relative;
	overflow: hidden;
}

.teaser-wrapper {
	padding: 95px 0 165px 0;
}

.teaser-wrapper .teaser-text {
	font-size: 36px;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
}

.teaser-wrapper .teaser-text span {
	display: block;
	font-size: 360px;
	line-height: 1;
	font-weight: 900;
	text-transform: uppercase;
}

.teaser-wrapper .teaser-desc {
	font-size: 24px;
}


/*--------------------------------------------------------------
# Responsive (Адаптивные стили)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## 640-940 (Устройства от 640 до 940 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 939px) {
	.notfound-wrapper {
		background-image: url('../img/404-bg-tab.jpg');
		background-size: cover;
	}
	
	.teaser-wrapper {
		padding: 80px 0 120px 0;
	}

	.teaser-wrapper .teaser-text {
		font-size: 24px;
		line-height: 1;
	}

	.teaser-wrapper .teaser-text span {
		font-size: 150px;
		line-height: 1;
	}

	.teaser-wrapper .teaser-desc {
		font-size: 16px;
	}

}

/*--------------------------------------------------------------
## < 640 (Устройства до 640 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 639px) {	
	.notfound-wrapper {
		background-image: url('../img/404-bg-mob.jpg');
		background-size: cover;
	}
	
	.teaser-wrapper {
		padding: 110px 0 40px 0;
	}

	.teaser-wrapper .teaser-text {
		font-size: 24px;
		line-height: 1;
	}

	.teaser-wrapper .teaser-text span {
		font-size: 60px;
		line-height: 1;
	}

	.teaser-wrapper .teaser-desc {
		font-size: 14px;
	}
}

/*--------------------------------------------------------------
## < 480 (Устройства до 480 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 479px) {
	
}

/*--------------------------------------------------------------
## < 360 (Устройства до 360 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 359px) {
	
}