div[class^='col-'],.tr,.td
{
    //border: dashed 1px silver;
}

.fancybox-close-small {
    top: 30px;
    right: 30px;
    border-radius: 0;
    border: 0;
    background: url("/img/x.png") no-repeat 50% 50%;
    content: '';
    width: 28px;
    height: 28px;
    &:after {
        display: none;
    }
}

.paddL {padding-left: 0;}
.paddR {padding-right: 0;}
.padd0 {padding-left: 0; padding-right: 0;}
.nobr {white-space: nowrap;}
.clear {clear: both;}
.tr {display: table-row;}
.td {display: table-cell; vertical-align: middle;}
.menu-toggle {padding: 5px 8px 8px 8px;}