.header {
    color: #fff;
    background-color: #070707;
    padding-bottom: 180px;

    .social {float: right;}
    .main-navigation {float: right;}
    .header-wrapper .menu li {
        margin: 0;
        padding-right: 35px;
        font-size: 16px;
    }
    .btn-red-filled {
        color: #ffffff;
        background: #ee2f24;
        font-weight: 900;
        font-size: 18px;
        &:hover,&:focus,&:active {
            text-decoration: none;
        }
    }
    .btn-yellow-filled {
        color: #000;
        background: #fad217;
        font-weight: 900;
        font-size: 18px;
        &:hover,&:focus,&:active {
            text-decoration: none;
        }
    }
    &__title {
        z-index: 1;
        text-align: center;
        h1 {font-size: 48px;}
    }
    &__left {
        position: relative;
        .header__left.td {width: 60%;}
        .header__arrow {
            position: absolute;
            bottom: -80px;
            left: 50px;
        }
        .header__button {
            position: absolute;
            bottom: -105px;
            left: 130px;
        }
    }
    &__right {
        position: relative;
        .header__right.td {width: 60%;}
        .header__box {
            margin: 0 0 0 auto;
        }
        .header__arrow {
            position: absolute;
            //left: auto;
            right: 40px;
            bottom: -80px;
        }
        .header__button {
            position: absolute;
            //left: auto;
            right: 120px;
            bottom: -105px;
        }
    }
    &__desc-left, &__desc-right {
        position: absolute;
        top: 250px;
        left: 230px;
        width: 250px;
    }
    &__desc-right {left: 90px;}
    &__box {margin: 0 0 0 auto;}
}

.components {
    h2 {font-size: 48px; margin: 65px 0 70px;}
    h3 {font-size: 32px; font-weight: normal; margin-bottom: 20px;}

    &__wrap {
        display: inline-block;
        position: relative;
        margin: 0 auto 50px;
    }
    &__boxes {
        display: inline-block;
        position: relative;

        &-desc {
            display: none;
            position: absolute;
            color: #fff;
            padding: 30px;
            border-radius: 5px;
            background-color: #1a1a1a;
            width: 290px;
            text-align: left !important;

            h3 {font-size: 30px; margin-top: 0;}
            p {font-size: 14px;}

            &-y1 {top: 90px; left: 210px;}
            &-y2 {top: 170px; left: 20px;}
            &-y3 {top: 170px; left: 210px;}
            &-y4 {top: 200px; left: 90px;}

            &-r1 {top: 90px; left: -60px;}
            &-r2 {top: 90px; left: -260px;}
            &-r3 {top: 200px; left: -90px;}
            &-r4 {top: 200px; left: -190px;}
        }
    }
    &__plus {
        position: absolute;
        z-index: 1;

        &-y1 {top: 110px; left:180px;}
        &-y2 {top: 230px; left:-15px;}
        &-y3 {top: 280px; left:180px;}
        &-y4 {top: 380px; left:60px;}

        &-r1 {top: 110px; left:190px;}
        &-r2 {top: 230px; left:-10px;}
        &-r3 {top: 330px; left:160px;}
        &-r4 {top: 390px; left:65px;}
    }
}

.products {
    .order-list-remove {
        color: #7a7a7a;
        font-size: 12px;
    }
    &__col {min-height: 150px;}
    &__wrap {position: relative;}
    &__item {
        overflow: hidden;
        border: solid 1px #545454;
        border-radius: 5px;
        position: absolute;
        padding: 35px 30px 35px 110px;
        margin-bottom: 18px;
        width: 90%;
        background-color: #101010;
    }
    &__active {
        color: #101010;
        background-color: #fff;
    }
    &__img {
        position: absolute;
        top: 20px;
        left: 30px;
        cursor: pointer;
    }
    &__pre-name {
        color: #959595;
        font-size: 14px;
    }
    &__name {
        text-transform: uppercase;
        font-weight: bold;
    }
    &__price {
        font-size: 24px;
        font-weight: bold;
        .fa {font-size: 20px;}
    }
    &__choice {
        font-size: 12px;
        cursor: pointer;
        margin-top: 10px;
    }
    &__icons {
        margin-bottom: 15px;
    }
    &__details {
        margin: 0;
        a,a:hover,a:active,a:focus {
            font-size: 12px;
            color: #ffde00;
            text-decoration: underline;
        }
        a.black {
            color: #000;
        }
    }
    .td {vertical-align: top;}
    &__hidden,&__hidden2 {display: none;}
    .prod-counter {display: inline-block;}
    &__left {
        //width: 100%;
        //padding-right: 10px;
        //white-space: nowrap;
    }
    &__right {
        //float: right;
        white-space: nowrap;
        &-active {display: none;}
        &-type-wrap {
            border: solid 1px #b7b7b7;
            border-radius: 17px;
            margin-bottom: 5px;
            width: 95px;
            .preorder-prod-counter {
                background: none;
                font-size: 18px;
                font-weight: bold;
            }
            .preorder-prod-count {
                font-size: 18px;
                font-weight: bold;
                width: 55px;
            }
        }
    }
}

.modalproddetails {
    color: #b5b5b5;
    background-color: #101010;
    padding: 30px;
    border: solid 1px #666;
    border-radius: 5px;
    .white {color: #f9fefa;}
    &__header h1 {
        position: relative;
        font-size: 48px;
        font-weight: normal;
        display: inline-block;
        span {
            position: absolute;
            top: 10px;
            right: -80px;
            font-size: 11px;
            font-weight: bold;
            padding: 5px 10px;
            border-radius: 11px;
            background-color: #292929;
        }
    }
    table {width: 80%;}
    th,td {text-align: left;}
}