$lg: 1200px;
$md: 992px;
$sm: 768px;

@mixin lg {@media (min-width: #{$lg}) {@content;}}
@mixin md {@media (min-width: #{$md}) and (max-width: #{$lg - 1px}) {@content;}}
@mixin sm {@media (min-width: #{$sm}) and (max-width: #{$md - 1px}) {@content;}}
@mixin xs {@media (max-width: #{$sm - 1px}) {@content;}}

//@include lg {
//}

//@include md {
//}

@include sm {
    .order-list-remove {margin-top: 15px;}
    .order-header {font-size: 24px !important; margin: 10px 0 35px;}
    .header {
        padding-bottom: 50px;
        p {font-size: 14px; margin-bottom: 30px;}
        h1 {font-size: 24px; margin: 40px 0;}
        h2 {font-size: 20px;}

        .header__right .header__box {
            margin: 0 auto;
        }
        .img-responsive {height: 220px;}
        .btn {font-size: 14px;}

    }
    .components {
        h2 {font-size: 24px; margin: 40px 0 20px;}
        h3 {font-size: 20px;}
        p {font-size: 14px;}
        &__boxes-desc {
            h3 {font-weight: bold;}
        }
    }
    .products {
        hr {
            border-top: 1px solid #545454;
            margin: 40px 0 20px;
        }
        &__name-price {padding-left: 100px;}
        &__left {
            float: none;
            margin-bottom: 20px;
        }
        &__right {
            float: left;
            &-type {width: 110px;}
            &-type-wrap {margin-bottom: 20px;}
        }
        &__item {
            overflow: visible;
            padding: 33px 18px;
            position: relative;
            width: 100%;
        }
        &__hidden {
            display: block;
            margin-top: 20px;
        }
        &__img {
            //position: relative;
            height: 81px;
            //width: 34px;
            top: auto;
            left: auto;
            padding-left: 17px;
        }
        &__active {
            hr {
                border-top: solid 1px #cacaca;
                margin: 24px 0 20px;
            }
        }
        .order-list-remove {float: none;}
        .preorder-prod-counter.minus {left: 6px;}
        .preorder-prod-counter.plus {left: -6px;}
    }
    .preorder-totals {text-align: left !important;}
    .footer-col-m {width: 55%;}
    #preorder-total {font-size: 22px !important;}
}

@include xs {
    .order-header {font-size: 24px !important; margin: 20px 0 50px !important;}
    .header {
        padding-bottom: 50px;
        h1 {font-size: 24px; margin: 40px 0 50px;}
        h2 {font-size: 20px;}
        p {font-size: 14px; margin-bottom: 20px;}
        .btn {font-size: 14px;}
        &__box {padding: 0 20px;}
    }
    .components {
        h2 {font-size: 24px; margin: 35px 0 15px;}
        h3 {font-size: 20px;}
        p {font-size: 14px;}
        &__wrap {margin-bottom: 50px;}
        &__boxes-desc {

            &-y1 {top: 90px; left: -70px;}
            &-y2 {top: 270px; left: -30px;}
            &-y3 {top: 170px; left: -70px;}
            &-y4 {top: 195px; left: -30px;}

            &-r1 {top: 90px; left: -60px;}
            &-r2 {top: 40px; left: -20px;}
            &-r3 {top: 150px; left: -10px;}
            &-r4 {top: 200px; left: -20px;}
        }
    }
    .products {
        hr {
            border-top: 1px solid #545454;
            margin: 40px 0 20px;
        }
        //&__col {min-height: 350px;}
        &__name-price {padding-left: 100px;}
        &__left {
            float: none;
            margin-bottom: 20px;
        }
        &__right {
            float: left;
            &-type {width: 110px;}
            &-type-wrap {margin-bottom: 15px;}
        }
        &__item {
            overflow: visible;
            padding: 33px 18px;
            position: relative;
            width: 100%;
        }
        &__hidden {
            display: block;
            margin-top: 20px;
        }
        &__img {
            position: absolute;
            height: 81px;
            //width: 34px;
            top: auto;
            left: auto;
            padding-left: 17px;
        }
        .order-list-remove {float: none;}
        .products__right-type-wrap {
            text-align: center;
            //border: dashed 1px;
        }
        .preorder-prod-count {
            //border: dashed 1px;
        }
        .preorder-prod-counter.minus {
            left: 22px;
            position: absolute;
        }
        .preorder-prod-counter.plus {
            right: 37px;
            top: 2px;
            left: auto;
            position: absolute;
        }
        &__active {
            hr {
                border-top: solid 1px #cacaca;
                margin: 24px 0 20px;
            }
        }
    }
    .modalproddetails {
        padding: 10px;
        &__header h1 {
            margin-top: 0;
            span {
                position: relative;
                top: auto;
                right: auto;
                display: block;
                margin-bottom: 20px;
            }
        }
    }
    .preorder-totals {text-align: left !important;}
    .footer-col-m {width: 90%;}
    .footer-inner .footer-col-s {width: 40%;}
    #preorder-total {font-size: 22px !important;}
}
