/*
Author: Sellrise
Author URI: http://sellrise.ru/
Tags: Normalizing styles - http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Contacts (страница контактов)

# Responsive (Адаптивные стили)
	## 640-940 (Устройства от 640 до 940 пикселей)
	## < 640 (Устройства до 640 пикселей)
	## < 480 (Устройства до 480 пикселей)
	## < 360 (Устройства до 360 пикселей)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Contacts (страница контактов)
--------------------------------------------------------------*/
.contacts-wrapper {
	background-image: url('../img/contacts-bg.jpg');
	background-repeat: no-repeat;
	background-position: top;
	position: relative;
	overflow: hidden;
}

.contacts-container {
	padding: 80px 0 90px 0;
}

.contacts-header {
	font-size: 48px;
	font-weight: 700;
	margin: 0 0 40px 0;
}

.contacts-line {
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 30px 0;
	position: relative;
}

.contacts-line a {
	color: #ffffff;
	text-decoration: none;
}

.contacts-line-padded {
	padding: 0 0 0 35px;
}

.contacts-line-padded:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 3px;
	left: 0;
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
}

#contacts-address:before {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAi0lEQVR42oXQZ4HEIBBA4ZGABCTg4JBwEiIhDhYpcZKRsBLWATh46W3Svvn7qHKE568fL3cItCxawlUSyexlok3cnBwzd4xqJoVEojCpj5EyCfPtJnoZyewxet4prZf99JOZJPtHV+xf8cNSsfjHinKGmn2u4CksCl6uUbGo5B4NAI0844vKGxxOjA5yawrWVK+8EAAAAABJRU5ErkJggg==');
}

#contacts-phone:before {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAdElEQVR42mOgLvgv8L8eCgVwK2r4DwMNFCoqIEaRA1xRAT6HQ8AC/P5bgFCC38L9hMNqAsJF+Nx1AagsgZAyhf8fkJX9L8AaC/8NwMrqIV5BhB12S8//Xw8kMRUhlMEiCaEIl+sWgCzGVIRpogPQ6Q1AKAAAraSscn828xMAAAAASUVORK5CYII=');
}

#contacts-email:before {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAeklEQVR42s3RR4GFMBSG0V/Ck4AEJERCHEycIAGk4AAk4CQ4ONN73c377ibl7G6uM832w9wkMfqtMQqa3VftGsoTSlSnt51q8hYxu7hYPLc83GdeEOhqojgcSqLqfEBgMySJwQZfI7rJpPMlet+/or+tJdGsdl/Pqia3qlS1vZRfGWgAAAAASUVORK5CYII=');
}

.contacts-info {
	position: relative;
	padding: 0 0 70px 0;
	width: 60%;
	margin: 0 5% 0 0;
	float: left;
}

.contacts-info:after {
	content: "";
	display: block;
	width: 80px;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #ffffff;
}

.contacts-form {
	width: 35%;
	float: left;
}

.contacts-form-header {
	font-size: 30px;
	line-height: 26px;
	margin: 0 0 40px 0;
}

.contacts-form .text-input {
	margin-bottom: 20px;
	display: block;
	width: 100%;
}

.contacts-form .text-area {
	margin-bottom: 20px;
	display: block;
	width: 100%;
}

.contact-btn {
	width: 65%;
}

.contact-conf {
	font-size: 12px;
	color: #c3c3c3;
	margin: 20px 0 20px 0;
}

/*--------------------------------------------------------------
# Responsive (Адаптивные стили)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## 640-940 (Устройства от 640 до 940 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 939px) {
	.contacts-wrapper {
		background-image: none;
	}
	
	.contacts-container {
		padding: 50px 0 80px 0;
	}

	.contacts-header {
		font-size: 32px;
		font-weight: 700;
		margin: 0 0 40px 0;
	}
	
	.contacts-line {
		font-size: 16px;
		line-height: 18px;
		margin: 0 0 25px 0;
		position: relative;
	}
	
	.contacts-line-padded {
		padding: 0 0 0 30px;
	}
	
	.contacts-line-padded:before {
		bottom: 0;
	}
	
	.contacts-form-header {
		display: none;
	}
	
	.text-input {
		border-radius: 25px;
	}
	
	.text-area {
		border-radius: 25px;
	}
}

/*--------------------------------------------------------------
## < 640 (Устройства до 640 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 639px) {	
	.contacts-container {
		padding: 10px 0 50px 0;
	}
	
	.contacts-header {
		font-size: 28px;
		margin: 0px 0 25px 0;
	}
	
	.contacts-info {
		position: relative;
		padding: 0 0 40px 0;
		width: 100%;
		float: none;
	}

	.contacts-info:after {
		content: none;
	}

	.contacts-form {
		width: 100%;
		float: none;
	}
	
	.contacts-line-padded:before {
		top: 0;
	}
}

/*--------------------------------------------------------------
## < 480 (Устройства до 480 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 479px) {
	
}

/*--------------------------------------------------------------
## < 360 (Устройства до 360 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 359px) {
	
}