/*
Author: Sellrise
Author URI: http://sellrise.ru/
Tags: Normalizing styles - http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Dev (страница в разработке)

# Responsive (Адаптивные стили)
	## 640-940 (Устройства от 640 до 940 пикселей)
	## < 640 (Устройства до 640 пикселей)
	## < 480 (Устройства до 480 пикселей)
	## < 360 (Устройства до 360 пикселей)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Dev (страница в разработке)
--------------------------------------------------------------*/
.dev-wrapper {
	background-image: url('../img/dev-bg.jpg');
	background-repeat: no-repeat;
	background-position: top;
	position: relative;
	overflow: hidden;
}

.teaser-wrapper {
	padding: 150px 0 200px 0;
}

.teaser-wrapper .teaser-text {
	font-size: 100px;
	line-height: 110px;
	font-weight: 700;
	text-transform: uppercase;
}


/*--------------------------------------------------------------
# Responsive (Адаптивные стили)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## 640-940 (Устройства от 640 до 940 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 939px) {
	.dev-wrapper {
		background-image: url('../img/dev-bg-tab.jpg');
		background-size: cover;
	}
	
	.teaser-wrapper {
		padding: 80px 0 120px 0;
	}

	.teaser-wrapper .teaser-text {
		font-size: 44px;
		line-height: 56px;
		font-weight: 700;
		text-transform: uppercase;
	}
}

/*--------------------------------------------------------------
## < 640 (Устройства до 640 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 639px) {	
	.dev-wrapper {
		background-image: url('../img/dev-bg-mob.jpg');
		background-size: cover;
	}
	
	.teaser-wrapper {
		padding: 50px 0 70px 0;
	}

	.teaser-wrapper .teaser-text {
		font-size: 36px;
		line-height: 52px;
		font-weight: 700;
		text-transform: uppercase;
	}
}

/*--------------------------------------------------------------
## < 480 (Устройства до 480 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 479px) {
	
}

/*--------------------------------------------------------------
## < 360 (Устройства до 360 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 359px) {
	
}