/*
Author: Sellrise
Author URI: http://sellrise.ru/
Tags: Normalizing styles - http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Main (основные стили)
# Header (шапка)
# Footer (подвал)
# Modal (всплывайка)
# Responsive (Адаптивные стили)
	## 640-940 (Устройства от 640 до 940 пикселей)
	## < 640 (Устройства до 640 пикселей)
	## < 480 (Устройства до 480 пикселей)
	## < 360 (Устройства до 360 пикселей)
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@font-face {
	font-family: 'fs_elliot';
	src: url('../fonts/fselliotpro-webfont.eot');
	src: url('../fonts/fselliotpro-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/fselliotpro-webfont.woff2') format('woff2'),
			 url('../fonts/fselliotpro-webfont.woff') format('woff'),
			 url('../fonts/fselliotpro-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'fs_elliot';
	src: url('../fonts/fselliotpro-light-webfont.eot');
	src: url('../fonts/fselliotpro-light-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/fselliotpro-light-webfont.woff2') format('woff2'),
			 url('../fonts/fselliotpro-light-webfont.woff') format('woff'),
			 url('../fonts/fselliotpro-light-webfont.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'fs_elliot';
	src: url('../fonts/fselliotpro-bold-webfont.eot');
	src: url('../fonts/fselliotpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/fselliotpro-bold-webfont.woff2') format('woff2'),
			 url('../fonts/fselliotpro-bold-webfont.woff') format('woff'),
			 url('../fonts/fselliotpro-bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'fs_elliot';
	src: url('../fonts/fselliotpro-heavy-webfont.eot');
	src: url('../fonts/fselliotpro-heavy-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/fselliotpro-heavy-webfont.woff2') format('woff2'),
			 url('../fonts/fselliotpro-heavy-webfont.woff') format('woff'),
			 url('../fonts/fselliotpro-heavy-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
	font-family: 'fs_elliot';
	font-weight: 400;
	font-style: normal;
	color: #101010;
	font-size: 16px;
  line-height: 1.5;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
}

.std-header {
	font-weight: 700;
	font-size: 44px;
	line-height: 1.25;
}

.std-desc {
	font-weight: 400;
	font-size: 24px;
	line-height: 1.5;
	margin: 15px 0 0 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
	outline-color: #ee1d23;
}

a:active,
a:hover {
  outline-width: 0;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'fs_elliot';
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	color: #000000;
}

input::-webkit-input-placeholder {color:#858585;}
input::-moz-placeholder          {color:#858585;}/* Firefox 19+ */
input:-moz-placeholder           {color:#858585;}/* Firefox 18- */
input:-ms-input-placeholder      {color:#858585;}

button,
input {
  overflow: visible;
	outline: none;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
	cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

.btn {
	border-radius: 40px;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	line-height: 54px;
	text-decoration: none;
	padding: 0 30px;
	border: 0;
	font-size: 20px;
	cursor: pointer;
}

.btn-red-filled,
.btn-red-filled:focus,
.btn-red-filled:active,
.btn-red-filled:hover
{
	color: #ffffff;
	background: #ee2f24;
	font-weight: 900;
}

.btn-red-bordered {
	color: #ee2f24;
	background: transparent;
	border: 1px solid #ee2f24;
	font-weight: 700;
}

/*--------------------------------------------------------------
# Main (основные стили)
--------------------------------------------------------------*/
body {
	margin: 0;
	color: #101010;
}

b {}

a {}

.container {
	/*width: 940px;*/
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.clearer {
	clear: both;
}

.inliner {
	display: inline-block;
}

.centerer {
	text-align: center;
}

.hidden {
	display: none;	
  margin:0px;
  padding:0px;
}

.wrapper-darkblack {
	background-color: #000000;
	color: #ffffff;
}

.wrapper-black {
	background-color: #101010;
	color: #ffffff;
}

.wrapper-black .std-header, .wrapper-black .std-desc, .wrapper-darkblack .std-header, .wrapper-darkblack .std-desc {
	color: #ffffff;
}

.wrapper-grey {
	background-color: #f2f2f2;
}

.form-hidden {
	display: none;
}

.input-block-spaced {
	margin: 20px 0 0 0;
}

.text-input {
	position: relative;
	padding: 0 30px;
	background: #ffffff;
	line-height: 48px;
	border: 0;
	border-radius: 24px;
	outline: none;
}

.text-area {
	position: relative;
	padding: 10px 30px;
	background: #ffffff;
	line-height: 30px;
	border: 0;
	border-radius: 24px;
	outline: none;
}

input {}

button {}

textarea:disabled, input:not([type]):disabled, input[type="color" i]:disabled, input[type="date" i]:disabled, input[type="datetime" i]:disabled, 
input[type="datetime-local" i]:disabled, input[type="email" i]:disabled, input[type="month" i]:disabled, 
input[type="password" i]:disabled, input[type="number" i]:disabled, input[type="search" i]:disabled, input[type="tel" i]:disabled, 
input[type="text" i]:disabled, input[type="time" i]:disabled, input[type="url" i]:disabled, input[type="week" i]:disabled {
	background-color: #ffffff;
	filter: alpha(opacity=35);
	opacity: 0.35;
}

.error {
	border: 2px solid #ee2f24 !important;
	color: #ee2f24 !important;
}

.error::-webkit-input-placeholder {color:#ee2f24 !important;}
.error::-moz-placeholder          {color:#ee2f24 !important;}/* Firefox 19+ */
.error:-moz-placeholder           {color:#ee2f24 !important;}/* Firefox 18- */
.error:-ms-input-placeholder      {color:#ee2f24 !important;}

.zoom {
	display:inline-block;
	position: relative;
}

.zoom:hover {
	cursor: move;
}

.zoom img {
	display: block;
}

.zoom img::selection { background-color: transparent; }

/*--------------------------------------------------------------
# Header (шапка)
--------------------------------------------------------------*/
.header-wrapper {
	padding: 30px 0 25px 0;
	position: relative;
}

.header-wrapper:after {
	content: "";
	display: block;
	clear: both;
}

.header-wrapper .logo {
	float: left;
	width: 40%;
	font-size: 14px;
	margin: 10px 0 0 0;
}

.header-wrapper .logo img {
	margin: 3px 20px 0 0;
	float: left;
}

.header-right {
	float: right;
	text-align: right;
}

.header-right .social {
	margin: 0 0 5px 0;
}

.header-right .social a {
	display: inline-block;
	margin: 0 0 0 10px;
}

.header-wrapper .menu {
	list-style: none;
	line-height: 35px;
	margin: 0;
	padding: 0;
}

.header-wrapper .menu li {
	display: inline-block;
	margin: 0 0 0 20px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.header-wrapper .menu li a {
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.header-wrapper .menu li a:hover {
	text-decoration: underline;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	background: transparent;
	border: 0;
	padding: 0;
	outline: none;
}

.menu-toggle-button {
	height: 18px;
	width: 20px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.menu-toggle-inner {
	width: 20px;
	height: 3px;
	display: block;
	top: 50%;
	margin-top: -1.5px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.menu-toggle-inner, .menu-toggle-inner::before, .menu-toggle-inner::after {
	background-color: #ee2f24;
	border-radius: 0;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

.menu-toggle-inner:before, .menu-toggle-inner:after {
	content: "";
	display: block;
	height: 3px;
	width: 100%;
}

.menu-toggle .menu-toggle-inner, .menu-toggle .menu-toggle-inner:before, .menu-toggle .menu-toggle-inner:after {
	transition-property: none;
}

.menu-toggle-inner:before {
	top: -7px;
}

.menu-toggle-inner:after {
	bottom: -7px;
}

.toggled .menu-toggle-inner {
	transform: rotate(45deg);
}

.toggled .menu-toggle-inner:before {
	top: 0;
	opacity: 0;
}

.toggled .menu-toggle-inner:after {
	bottom: 0;
	transform: rotate(-90deg);
}

/*--------------------------------------------------------------
# Footer (подвал)
--------------------------------------------------------------*/
.footer-inner {
	padding: 35px 0 40px 0;
	border-top: 1px solid #3f3f3f;
}

.footer-col-s {
	display: block;
	float: left;
	width: 17%;
	margin: 0 3% 0 0;
}

.footer-col-m {
	display: block;
	float: left;
	width: 25%;
	margin: 0 0 0 5%;
}

.footer-col-s ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-col-s ul li {
	margin: 0 0 10px 0;
}

.footer-col-s a {
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.footer-col-s a:hover {
	text-decoration: underline;
}

.footer-info {
	font-size: 12px;
	color: #606060
}

.footer-info p {
	padding: 0;
	margin: 0 0 20px 0;
}

.footer-info a {
	color: #ffffff;
	font-size: 14px;
}


/*--------------------------------------------------------------
# Modal (всплывайка)
--------------------------------------------------------------*/
.modal-window {
	padding: 10px 30px;
}

.modal-header {
	font-weight: 700;
	font-size: 32px;
	color: #333333;
}

.modal-inputs {
	margin: 30px 15px 15px 0;
}

.modal-input {
	position: relative;
	padding: 0 20px 0 30px;
	background: transparent;
	line-height: 42px;
	font-size: 16px;
	border: 0;
	border-radius: 24px;
	border: 1px solid #aaaaaa;
	outline: none;
	margin: 0 15px 10px 0;
	color: #333333;
}

.modal-info {
	font-size: 12px;
	color: #666666;
	margin: 10px 0 0 0;
}


/*--------------------------------------------------------------
# Responsive (Адаптивные стили)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## >940 (Устройства больше 940 пикселей)
--------------------------------------------------------------*/
@media screen and (min-width: 940px) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}
	
	.nav-menu li.has-sub:hover ul {
		display: block;
	}
}

/*--------------------------------------------------------------
## 640-940 (Устройства от 640 до 940 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 939px) {
	.container {
		width: auto;
		padding: 0 45px;
	}
	
	.btn {
		line-height: 48px;
		font-size: 14px;
		padding: 0 25px;
	}
	
	.std-header {
		font-size: 32px;
	}
	
	.std-desc {
		font-size: 18px;
	}
	
	.text-input {
		padding: 0 20px;
		line-height: 42px;
		font-size: 14px;
		margin: 0 0 15px 0;
		border-radius: 24px;
	}
	
	.text-area {
		position: relative;
		padding: 10px 20px;
		background: #ffffff;
		line-height: 28px;
		font-size: 14px;
		border: 0;
		border-radius: 24px;
		outline: none;
	}
	
	.header-wrapper .logo {
		width: 65%;
		max-width: 350px;
		margin: 0;
	}
	
	.header-right .social {
    margin: 5px 25px 0 0;
	}
	
	.menu-toggle {
		position: fixed;
        top: 23px;
        right: 15px;
		background: #ffffff;
        padding: 5px 8px 8px 8px;
		z-index: 100;
		border-radius: 3px;
	}
	
	.menu {
		position: fixed;
		left: 0;
		top: 20px;
		width: 40%;
		overflow-y: auto;
    overflow-x: hidden;
		background: #ffffff;
		transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		z-index: 100;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		-ms-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
		padding: 20px 0 20px 20px;
		border-radius: 0 3px 3px 0;
		text-align: left;
	}
	
	.toggled .menu {
		transform: translateX(0);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
	}
	
	.header-wrapper .menu li {
		display: block;
	}
	
	.header-wrapper .menu li a {
		color: #101010;
	}
	
	.modal-input {
		padding: 0 10px 0 20px;
		font-size: 14px;
		margin: 0 10px 10px 0;
	}
}

/*--------------------------------------------------------------
## < 640 (Устройства до 640 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 639px) {
	.container {
		padding: 0 20px;
	}
	
	.zoom:hover {
		cursor: default;
	}
	
	.std-header {
		font-size: 24px;
	}
	
	.std-desc {
		margin: 5px 0 0 0;
		font-size: 16px;
	}
	
	.header-wrapper {
		padding: 30px 0 35px 0;
	}
	
	.header-wrapper .logo {
		width: 67%;
		max-width: 255px;
		font-size: 12px;
	}
	
	.header-wrapper .logo img {
    margin: 3px 0 15px 0;
		float: none;
		display: block;
	}
	
	.header-right .social {
		margin: 56px 0 0 0;
	}
	
	.header-right .social a {
		display: inline-block;
		margin: 0 0 0 2px;
	}
	
	.header-right .social a img {
		width: auto;
		height: 20px;
	}
	
	.menu-toggle {
		top: 30px;
        right: 20px;
	}
	
	.footer-col-s {
		width: 40%;
		margin: 0 10% 0 0;
	}
	
	.footer-col-m {
    clear: both;
    float: none;
    width: 100%;
    padding: 20px 0 0 0;
	}
	
	.menu {
		width: 50%;
	}
	
	.order-step span {
		display: none;
	}
	
	.order-step-active span {
		display: block;
	}
	
	.modal-window {
		padding: 10px;
	}
	
	.modal-header {
		font-size: 20px;
	}
	
	.modal-desc {
		font-size: 14px;
		margin: 10px 0 0 0;
	}
	
	.modal-input {
		display: block;
		padding: 0 30px;
		font-size: 16px;
		margin: 0 0 10px 0;
	}
}

/*--------------------------------------------------------------
## < 480 (Устройства до 480 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 479px) {
	
}

/*--------------------------------------------------------------
## < 360 (Устройства до 360 пикселей)
--------------------------------------------------------------*/
@media screen and (max-width: 359px) {
	.menu {
		width: 70%;
		padding: 20px 0 20px 10px;
	}
}