.fancybox-close-small {
  top: 30px;
  right: 30px;
  border-radius: 0;
  border: 0;
  background: url("/img/x.png") no-repeat 50% 50%;
  content: '';
  width: 28px;
  height: 28px; }
  .fancybox-close-small:after {
    display: none; }

.paddL {
  padding-left: 0; }

.paddR {
  padding-right: 0; }

.padd0 {
  padding-left: 0;
  padding-right: 0; }

.nobr {
  white-space: nowrap; }

.clear {
  clear: both; }

.tr {
  display: table-row; }

.td {
  display: table-cell;
  vertical-align: middle; }

.menu-toggle {
  padding: 5px 8px 8px 8px; }

.header {
  color: #fff;
  background-color: #070707;
  padding-bottom: 180px; }
  .header .social {
    float: right; }
  .header .main-navigation {
    float: right; }
  .header .header-wrapper .menu li {
    margin: 0;
    padding-right: 35px;
    font-size: 16px; }
  .header .btn-red-filled {
    color: #ffffff;
    background: #ee2f24;
    font-weight: 900;
    font-size: 18px; }
    .header .btn-red-filled:hover, .header .btn-red-filled:focus, .header .btn-red-filled:active {
      text-decoration: none; }
  .header .btn-yellow-filled {
    color: #000;
    background: #fad217;
    font-weight: 900;
    font-size: 18px; }
    .header .btn-yellow-filled:hover, .header .btn-yellow-filled:focus, .header .btn-yellow-filled:active {
      text-decoration: none; }
  .header__title {
    z-index: 1;
    text-align: center; }
    .header__title h1 {
      font-size: 48px; }
  .header__left {
    position: relative; }
    .header__left .header__left.td {
      width: 60%; }
    .header__left .header__arrow {
      position: absolute;
      bottom: -80px;
      left: 50px; }
    .header__left .header__button {
      position: absolute;
      bottom: -105px;
      left: 130px; }
  .header__right {
    position: relative; }
    .header__right .header__right.td {
      width: 60%; }
    .header__right .header__box {
      margin: 0 0 0 auto; }
    .header__right .header__arrow {
      position: absolute;
      right: 40px;
      bottom: -80px; }
    .header__right .header__button {
      position: absolute;
      right: 120px;
      bottom: -105px; }
  .header__desc-left, .header__desc-right {
    position: absolute;
    top: 250px;
    left: 230px;
    width: 250px; }
  .header__desc-right {
    left: 90px; }
  .header__box {
    margin: 0 0 0 auto; }

.components h2 {
  font-size: 48px;
  margin: 65px 0 70px; }
.components h3 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 20px; }
.components__wrap {
  display: inline-block;
  position: relative;
  margin: 0 auto 50px; }
.components__boxes {
  display: inline-block;
  position: relative; }
  .components__boxes-desc {
    display: none;
    position: absolute;
    color: #fff;
    padding: 30px;
    border-radius: 5px;
    background-color: #1a1a1a;
    width: 290px;
    text-align: left !important; }
    .components__boxes-desc h3 {
      font-size: 30px;
      margin-top: 0; }
    .components__boxes-desc p {
      font-size: 14px; }
    .components__boxes-desc-y1 {
      top: 90px;
      left: 210px; }
    .components__boxes-desc-y2 {
      top: 170px;
      left: 20px; }
    .components__boxes-desc-y3 {
      top: 170px;
      left: 210px; }
    .components__boxes-desc-y4 {
      top: 200px;
      left: 90px; }
    .components__boxes-desc-r1 {
      top: 90px;
      left: -60px; }
    .components__boxes-desc-r2 {
      top: 90px;
      left: -260px; }
    .components__boxes-desc-r3 {
      top: 200px;
      left: -90px; }
    .components__boxes-desc-r4 {
      top: 200px;
      left: -190px; }
.components__plus {
  position: absolute;
  z-index: 1; }
  .components__plus-y1 {
    top: 110px;
    left: 180px; }
  .components__plus-y2 {
    top: 230px;
    left: -15px; }
  .components__plus-y3 {
    top: 280px;
    left: 180px; }
  .components__plus-y4 {
    top: 380px;
    left: 60px; }
  .components__plus-r1 {
    top: 110px;
    left: 190px; }
  .components__plus-r2 {
    top: 230px;
    left: -10px; }
  .components__plus-r3 {
    top: 330px;
    left: 160px; }
  .components__plus-r4 {
    top: 390px;
    left: 65px; }

.products .order-list-remove {
  color: #7a7a7a;
  font-size: 12px; }
.products__col {
  min-height: 150px; }
.products__wrap {
  position: relative; }
.products__item {
  overflow: hidden;
  border: solid 1px #545454;
  border-radius: 5px;
  position: absolute;
  padding: 35px 30px 35px 110px;
  margin-bottom: 18px;
  width: 90%;
  background-color: #101010; }
.products__active {
  color: #101010;
  background-color: #fff; }
.products__img {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer; }
.products__pre-name {
  color: #959595;
  font-size: 14px; }
.products__name {
  text-transform: uppercase;
  font-weight: bold; }
.products__price {
  font-size: 24px;
  font-weight: bold; }
  .products__price .fa {
    font-size: 20px; }
.products__choice {
  font-size: 12px;
  cursor: pointer;
  margin-top: 10px; }
.products__icons {
  margin-bottom: 15px; }
.products__details {
  margin: 0; }
  .products__details a, .products__details a:hover, .products__details a:active, .products__details a:focus {
    font-size: 12px;
    color: #ffde00;
    text-decoration: underline; }
  .products__details a.black {
    color: #000; }
.products .td {
  vertical-align: top; }
.products__hidden, .products__hidden2 {
  display: none; }
.products .prod-counter {
  display: inline-block; }
.products__right {
  white-space: nowrap; }
  .products__right-active {
    display: none; }
  .products__right-type-wrap {
    border: solid 1px #b7b7b7;
    border-radius: 17px;
    margin-bottom: 5px;
    width: 95px; }
    .products__right-type-wrap .preorder-prod-counter {
      background: none;
      font-size: 18px;
      font-weight: bold; }
    .products__right-type-wrap .preorder-prod-count {
      font-size: 18px;
      font-weight: bold;
      width: 55px; }

.modalproddetails {
  color: #b5b5b5;
  background-color: #101010;
  padding: 30px;
  border: solid 1px #666;
  border-radius: 5px; }
  .modalproddetails .white {
    color: #f9fefa; }
  .modalproddetails__header h1 {
    position: relative;
    font-size: 48px;
    font-weight: normal;
    display: inline-block; }
    .modalproddetails__header h1 span {
      position: absolute;
      top: 10px;
      right: -80px;
      font-size: 11px;
      font-weight: bold;
      padding: 5px 10px;
      border-radius: 11px;
      background-color: #292929; }
  .modalproddetails table {
    width: 80%; }
  .modalproddetails th, .modalproddetails td {
    text-align: left; }

@media (min-width: 768px) and (max-width: 991px) {
  .order-list-remove {
    margin-top: 15px; }

  .order-header {
    font-size: 24px !important;
    margin: 10px 0 35px; }

  .header {
    padding-bottom: 50px; }
    .header p {
      font-size: 14px;
      margin-bottom: 30px; }
    .header h1 {
      font-size: 24px;
      margin: 40px 0; }
    .header h2 {
      font-size: 20px; }
    .header .header__right .header__box {
      margin: 0 auto; }
    .header .img-responsive {
      height: 220px; }
    .header .btn {
      font-size: 14px; }

  .components h2 {
    font-size: 24px;
    margin: 40px 0 20px; }
  .components h3 {
    font-size: 20px; }
  .components p {
    font-size: 14px; }
  .components__boxes-desc h3 {
    font-weight: bold; }

  .products hr {
    border-top: 1px solid #545454;
    margin: 40px 0 20px; }
  .products__name-price {
    padding-left: 100px; }
  .products__left {
    float: none;
    margin-bottom: 20px; }
  .products__right {
    float: left; }
    .products__right-type {
      width: 110px; }
    .products__right-type-wrap {
      margin-bottom: 20px; }
  .products__item {
    overflow: visible;
    padding: 33px 18px;
    position: relative;
    width: 100%; }
  .products__hidden {
    display: block;
    margin-top: 20px; }
  .products__img {
    height: 81px;
    top: auto;
    left: auto;
    padding-left: 17px; }
  .products__active hr {
    border-top: solid 1px #cacaca;
    margin: 24px 0 20px; }
  .products .order-list-remove {
    float: none; }
  .products .preorder-prod-counter.minus {
    left: 6px; }
  .products .preorder-prod-counter.plus {
    left: -6px; }

  .preorder-totals {
    text-align: left !important; }

  .footer-col-m {
    width: 55%; }

  #preorder-total {
    font-size: 22px !important; } }
@media (max-width: 767px) {
  .order-header {
    font-size: 24px !important;
    margin: 20px 0 50px !important; }

  .header {
    padding-bottom: 50px; }
    .header h1 {
      font-size: 24px;
      margin: 40px 0 50px; }
    .header h2 {
      font-size: 20px; }
    .header p {
      font-size: 14px;
      margin-bottom: 20px; }
    .header .btn {
      font-size: 14px; }
    .header__box {
      padding: 0 20px; }

  .components h2 {
    font-size: 24px;
    margin: 35px 0 15px; }
  .components h3 {
    font-size: 20px; }
  .components p {
    font-size: 14px; }
  .components__wrap {
    margin-bottom: 50px; }
  .components__boxes-desc-y1 {
    top: 90px;
    left: -70px; }
  .components__boxes-desc-y2 {
    top: 270px;
    left: -30px; }
  .components__boxes-desc-y3 {
    top: 170px;
    left: -70px; }
  .components__boxes-desc-y4 {
    top: 195px;
    left: -30px; }
  .components__boxes-desc-r1 {
    top: 90px;
    left: -60px; }
  .components__boxes-desc-r2 {
    top: 40px;
    left: -20px; }
  .components__boxes-desc-r3 {
    top: 150px;
    left: -10px; }
  .components__boxes-desc-r4 {
    top: 200px;
    left: -20px; }

  .products hr {
    border-top: 1px solid #545454;
    margin: 40px 0 20px; }
  .products__name-price {
    padding-left: 100px; }
  .products__left {
    float: none;
    margin-bottom: 20px; }
  .products__right {
    float: left; }
    .products__right-type {
      width: 110px; }
    .products__right-type-wrap {
      margin-bottom: 15px; }
  .products__item {
    overflow: visible;
    padding: 33px 18px;
    position: relative;
    width: 100%; }
  .products__hidden {
    display: block;
    margin-top: 20px; }
  .products__img {
    position: absolute;
    height: 81px;
    top: auto;
    left: auto;
    padding-left: 17px; }
  .products .order-list-remove {
    float: none; }
  .products .products__right-type-wrap {
    text-align: center; }
  .products .preorder-prod-counter.minus {
    left: 22px;
    position: absolute; }
  .products .preorder-prod-counter.plus {
    right: 37px;
    top: 2px;
    left: auto;
    position: absolute; }
  .products__active hr {
    border-top: solid 1px #cacaca;
    margin: 24px 0 20px; }

  .modalproddetails {
    padding: 10px; }
    .modalproddetails__header h1 {
      margin-top: 0; }
      .modalproddetails__header h1 span {
        position: relative;
        top: auto;
        right: auto;
        display: block;
        margin-bottom: 20px; }

  .preorder-totals {
    text-align: left !important; }

  .footer-col-m {
    width: 90%; }

  .footer-inner .footer-col-s {
    width: 40%; }

  #preorder-total {
    font-size: 22px !important; } }

/*# sourceMappingURL=main2.css.map */
