///* How to use mixins
// *   .myClass {
// *     @include G-H-40-1;
// *   }
// */

///* Color palette */

$red: #ee2525;
$silver: #ffffff80;
$gray: #514f4f;
$white: #ffffff;

@mixin font($font_name) {
    $path: "/ipad/fonts/";
    @font-face {
        font-family: $font_name;
        src: url($path+$font_name+".eot");
        src: url($path+$font_name+'.eot?#iefix') format('eot'),
        url($path+$font_name+'.woff') format('woff'),
        url($path+$font_name+'.ttf') format('truetype')
        //font-weight: normal;
        //font-style: normal;
    }
}
@include font("GothamProLight");
@include font("GothamProRegular");
@include font("GothamProBold");

@include font("MuseoSansBold");
@include font("MuseoSansBlack");

$font_museo: MuseoSansBlack, sans-serif;
$font_gotham: GothamProRegular, sans-serif;
$font_gotham-light: GothamProLight, sans-serif;



///* Text styles */

@mixin G-H-40-1 {
    font-family: $font_museo;
    font-size: 80px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: -2px;
    text-align: left;
    color: $white;
}

@mixin G-H-40-2 {
    font-family: $font_museo;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 3.2px;
    text-align: left;
    color: $gray;
}

@mixin G-H-15 {
    font-family: $font_museo;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.6;
    letter-spacing: 1.8px;
    text-align: center;
    color: $white;
}

@mixin GP-B-15 {
    font-family: $font_gotham;
    font-size: 30px;
    font-weight: bold;
    //line-height: 3.33;
    letter-spacing: 0.6px;
    text-align: left;
    color: $white;
}

@mixin GP-R-12 {
    font-family: $font_gotham;
    font-size: 25px;
    line-height: 1.44;
    letter-spacing: 0.6px;
    text-align: left;
    color: $white;
}

@mixin G-B-12 {
    font-family: $font_museo;
    font-size: 24.9px;
    font-weight: 900;
    letter-spacing: 0.5px;
    text-align: left;
    color: $white;
}

@mixin GP-L-8 {
    font-family: $font_gotham-light;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: left;
    color: $silver;
    opacity: 0.5;
}

@mixin G-H-7 {
    font-family: $font_museo;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2.1px;
    text-align: center;
    color: $white;
}

@mixin GP-R-6 {
    font-family: $font_gotham;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: $white;
}









