html {
  box-sizing: border-box;
  height: 100%; }

*, :after, :before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: inherit; }

::-moz-focus-inner {
  border: 0; }

body {
  position: relative; }

a:focus {
  outline: 0; }

ul {
  list-style: none; }

@font-face {
  font-family: "GothamProLight";
  src: url("/ipad/fonts/GothamProLight.eot");
  src: url("/ipad/fonts/GothamProLight.eot?#iefix") format("eot"), url("/ipad/fonts/GothamProLight.woff") format("woff"), url("/ipad/fonts/GothamProLight.ttf") format("truetype"); }
@font-face {
  font-family: "GothamProRegular";
  src: url("/ipad/fonts/GothamProRegular.eot");
  src: url("/ipad/fonts/GothamProRegular.eot?#iefix") format("eot"), url("/ipad/fonts/GothamProRegular.woff") format("woff"), url("/ipad/fonts/GothamProRegular.ttf") format("truetype"); }
@font-face {
  font-family: "GothamProBold";
  src: url("/ipad/fonts/GothamProBold.eot");
  src: url("/ipad/fonts/GothamProBold.eot?#iefix") format("eot"), url("/ipad/fonts/GothamProBold.woff") format("woff"), url("/ipad/fonts/GothamProBold.ttf") format("truetype"); }
@font-face {
  font-family: "MuseoSansBold";
  src: url("/ipad/fonts/MuseoSansBold.eot");
  src: url("/ipad/fonts/MuseoSansBold.eot?#iefix") format("eot"), url("/ipad/fonts/MuseoSansBold.woff") format("woff"), url("/ipad/fonts/MuseoSansBold.ttf") format("truetype"); }
@font-face {
  font-family: "MuseoSansBlack";
  src: url("/ipad/fonts/MuseoSansBlack.eot");
  src: url("/ipad/fonts/MuseoSansBlack.eot?#iefix") format("eot"), url("/ipad/fonts/MuseoSansBlack.woff") format("woff"), url("/ipad/fonts/MuseoSansBlack.ttf") format("truetype"); }
body {
  background: url("../img/bg.jpg");
  color: #fff;
  margin: 0; }

.container {
  padding-top: 107px;
  margin: 0 97px 0 0; }

.logo img {
  margin-left: 85px;
  width: 110px;
  height: 33px;
  object-fit: contain;
  float: left; }
.logo__text {
  float: left;
  white-space: nowrap;
  margin: 2px 0 0 27px;
  font-family: GothamProLight, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffffff80;
  opacity: 0.5; }

.topnav {
  float: right;
  margin: 2px 0 -30px 0; }
  .topnav a, .topnav a:hover, .topnav a:focus, .topnav a:active {
    font-family: GothamProRegular, sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ffffff;
    text-decoration: none; }
  .topnav__contacts {
    margin: 0 0 0 53px; }

h1 {
  margin: 155px 0 113px 218px;
  text-transform: uppercase;
  font-family: MuseoSansBlack, sans-serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: -2px;
  text-align: left;
  color: #ffffff; }
  h1 span {
    color: #ee2525; }

.main {
  display: table-row; }
  .main__photo {
    display: table-cell;
    padding: 0 80px 0 83px; }
  .main .steps {
    display: table-cell;
    vertical-align: top;
    padding: 275px 0 0 75px;
    position: relative; }
    .main .steps__cell {
      position: relative;
      margin-bottom: 100px; }
      .main .steps__cell:nth-child(2n) {
        margin-bottom: 85px; }
      .main .steps__cell:last-of-type {
        margin-bottom: 0; }
      .main .steps__cell:before {
        content: '';
        display: block;
        position: absolute;
        left: -73px;
        top: calc(50% - 15px);
        width: 25px;
        height: 25px;
        background-color: #4d1f1f;
        box-shadow: 0 0 38px 0 #ee2525;
        border: solid 7px #ee2525; }
    .main .steps__num {
      font-family: MuseoSansBlack, sans-serif;
      font-size: 80px;
      font-weight: 900;
      letter-spacing: 3.2px;
      text-align: left;
      color: #514f4f;
      position: absolute;
      top: -40px;
      left: -20px; }
    .main .steps__txt {
      font-family: GothamProRegular, sans-serif;
      font-size: 25px;
      line-height: 1.44;
      letter-spacing: 0.6px;
      text-align: left;
      color: #ffffff;
      position: relative;
      z-index: 2; }
    .main .steps .arrow {
      position: absolute;
      top: -102px;
      left: 367px; }
    .main .steps__button {
      text-decoration: none;
      position: absolute;
      top: -5px;
      left: 0;
      width: 306px;
      height: 64px;
      line-height: 64px;
      text-align: center;
      font-family: MuseoSansBlack, sans-serif;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: 2.1px;
      text-align: center;
      color: #ffffff;
      border-radius: 32px;
      background-color: #ee2525;
      box-shadow: 0 0 38px 0 #ee2525; }
      .main .steps__button-nest {
        position: relative;
        margin-left: -75px; }
    .main .steps .socials {
      padding-top: 230px;
      margin-left: 275px;
      white-space: nowrap; }
      .main .steps .socials p {
        font-family: GothamProLight, sans-serif;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.3px;
        text-align: left;
        color: #ffffff80;
        opacity: 0.5;
        margin-bottom: 20px; }
      .main .steps .socials img {
        margin-left: 29px; }

#modal_ipad {
  padding: 75px;
  background-color: #1c1c1c;
  border: solid 12px #ffffff;
  font-family: GothamProRegular, sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  line-height: normal; }
  #modal_ipad .fancybox-close-small {
    display: none; }
  #modal_ipad .modal-input {
    background-color: #1c1c1c;
    border-bottom: solid 1px #ffffff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    margin: 0 0 37px 3px;
    padding-bottom: 18px;
    font-family: MuseoSansBlack, sans-serif;
    font-size: 24.9px;
    font-weight: 900;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff; }
    #modal_ipad .modal-input:active, #modal_ipad .modal-input:focus {
      border-bottom: solid 1px #ee2525; }
  #modal_ipad label > div {
    font-family: GothamProRegular, sans-serif;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
    margin: 0 0 25px 35px; }
  #modal_ipad p {
    font-family: GothamProRegular, sans-serif;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
    opacity: 0.5;
    margin-bottom: 65px;
    white-space: nowrap; }
  #modal_ipad .form-hidden {
    display: none; }
  #modal_ipad .modal-success {
    padding: 50px 15px;
    font-family: MuseoSansBlack, sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.6;
    letter-spacing: 1.8px;
    text-align: center;
    color: #ffffff;
    white-space: nowrap; }
  #modal_ipad .button {
    width: 306px;
    height: 64px;
    border-radius: 32px;
    background-color: #ee2525;
    box-shadow: 0 0 38px 0 #f03434;
    font-family: MuseoSansBlack, sans-serif;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2.1px;
    text-align: center;
    color: #ffffff;
    cursor: pointer; }
  #modal_ipad .error::-webkit-input-placeholder {
    opacity: 1 !important;
    color: #ee2525 !important; }
  #modal_ipad .error:-ms-input-placeholder {
    opacity: 1 !important;
    color: #ee2525 !important; }
  #modal_ipad .error::-moz-placeholder {
    opacity: 1 !important;
    color: #ee2525 !important; }
  #modal_ipad .error:-moz-placeholder {
    opacity: 1 !important;
    color: #ee2525 !important; }

/*# sourceMappingURL=main.css.map */
