html{box-sizing:border-box;height:100%}
*,:after,:before{margin:0;padding:0;border:0;outline:0;box-sizing:inherit}
::-moz-focus-inner{border:0}
body{position:relative}
a:focus{outline:0}
ul{list-style:none}

@import "mixins";


body {
    background: url("../img/bg.jpg");
    color: #fff;
    margin: 0;
}

.container {
    padding-top: 107px;
    margin: 0 97px 0 0;
}
.logo {
    img {
        margin-left: 85px;
        width: 110px;
        height: 33px;
        object-fit: contain;
        float: left;
    }
    &__text {
        float: left;
        white-space: nowrap;
        margin: 2px 0 0 27px;
        @include GP-L-8;
    }
}
.topnav {
    float: right;
    margin: 2px 0 -30px 0;
    a,a:hover,a:focus,a:active {
        @include GP-B-15;
        text-decoration: none;
    }
    &__contacts {margin: 0 0 0 53px;}
}

h1 {
    margin: 155px 0 113px 218px;
    text-transform: uppercase;
    @include G-H-40-1;
    span {color: $red;}
}


.main {
    display: table-row;
    &__photo {
        display: table-cell;
        padding: 0 80px 0 83px;
    }
    .steps {
        display: table-cell;
        vertical-align: top;
        padding: 275px 0 0 75px;
        position: relative;
        &__cell {
            position: relative;
            margin-bottom: 100px;
            &:nth-child(2n) {margin-bottom: 85px;}
            &:last-of-type {margin-bottom: 0;}
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: -73px;
                top: calc(50% - 15px);
                width: 25px;
                height: 25px;
                background-color: #4d1f1f;
                box-shadow: 0 0 38px 0 $red;
                border: solid 7px $red;
            }
        }
        &__num {
            @include G-H-40-2;
            position: absolute;
            top: -40px;
            left: -20px;
        }
        &__txt {
            @include GP-R-12;
            position: relative;
            z-index: 2;
        }
        .arrow {
            position: absolute;
            top: -102px;
            left: 367px;
        }
        &__button {
            &-nest {
                position: relative;
                margin-left: -75px;
            }
            text-decoration: none;
            position: absolute;
            top: -5px;
            left: 0;
            width: 306px;
            height: 64px;
            line-height: 64px;
            text-align: center;
            @include G-H-7;
            border-radius: 32px;
            background-color: $red;
            box-shadow: 0 0 38px 0 $red;
        }
        .socials {
            padding-top: 230px;
            margin-left: 275px;
            white-space: nowrap;
            p {
                @include GP-L-8;
                margin-bottom: 20px;
            }
            img {
                margin-left: 29px;
            }
        }
    }
}

#modal_ipad {
    padding: 75px;
    background-color: #1c1c1c;
    //width: 480px;
    border: solid 12px $white;
    @include GP-R-6;
    line-height: normal;
    .fancybox-close-small {display: none;}
    .modal-input {
        background-color: #1c1c1c;
        border-bottom: solid 1px $white;
        border-bottom: solid 1px rgba(255,255,255,.5);
        margin: 0 0 37px 3px;
        padding-bottom: 18px;
        &:active,&:focus {border-bottom: solid 1px $red;}
        @include G-B-12;


    }
    label > div {
        @include GP-R-6;
        //opacity: 0.5;
        margin: 0 0 25px 35px;
    }
    p {
        @include GP-R-6;
        opacity: 0.5;
        margin-bottom: 65px;
        white-space: nowrap;
    }
    .form-hidden {display: none;}
    .modal-success {
        padding: 50px 15px;
        @include G-H-15;
        white-space: nowrap;
    }
    .button {
        width: 306px;
        height: 64px;
        border-radius: 32px;
        background-color: $red;
        box-shadow: 0 0 38px 0 #f03434;
        @include G-H-7;
        cursor: pointer;
    }
    .error {
        //если объединить - криво работает
        &::-webkit-input-placeholder {
            opacity: 1 !important;
            color: $red !important;
        }
        &:-ms-input-placeholder {
            opacity: 1 !important;
            color: $red !important;
        }
        &::-moz-placeholder {
            opacity: 1 !important;
            color: $red !important;
        }
        &:-moz-placeholder {
            opacity: 1 !important;
            color: $red !important;
        }
    }
}

